* {
    box-sizing: border-box;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.input-container{
    position: absolute;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

input {
    width: 50px;
    background: transparent;
    outline: none;
    border-radius: 2px;
    margin: 0 8px;
    color: black;
    text-align: right;
    background: white;
    border: none;
    position: absolute;
    z-index: 5;
    padding: 4px;
    font-size: 16px;
}

body{
   background: #e8e8ee;
}


#lightness-blocks,
svg {
    /* margin: 8px; */
    border-radius: 4px;
    background: #f0f0f8;
}

#lightness-blocks {
    margin-right: 20px;
}


.current-color {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
    position: relative;
}

.current-color.dark {
    color: white;
}

.current-color.light {
    color: rgba(0,0,0,.9);
}

.current-color div {
    color: inherit;
}

.current-color > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color-description div:last-child {
    color: inherit;
    font-weight: 100;
    font-size: .8em;
    margin-top: 8px;
}

.color-description div:first-child {
    font-weight: 900;
    letter-spacing: 1.1;
}

.arrow {
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
    padding: 0;
    margin: 0 16px;
    text-shadow: inherit;
}
/* 
* {
    outline: 1px solid red;
} */

.caret {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 20px;
}